<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>druva's blog</title>
</head>
<body>
    <h1>
        <a href="https://gaana.com/album/tholi-prema">tholiprema songs</a>
    </h1>
    <div>
        <h2>
            <a href="">my first post</a>
        </h2>
        <p> tholiprema movie songs baavuntay.</p>
    </div>
    <div>
        <h2>
            <a href="">my second post</a>
        </h2>
        <p> tholiprema movie songs baagov.- the critics</p>
    </div>

</body>
</html>